body {
    @apply w-screen h-screen;
}

* {
    opacity: 0.995;
}

.drag {
    -webkit-app-region: drag;
}

.nodrag,
input,
select,
textarea,
option {
    -webkit-app-region: no-drag;
}

.contextMenu {
    border-radius: 0.375rem;
}

.contextMenu button {
    background-color: #2c3e50;
    color: white;
    padding: 0.25rem 0.75rem;
}

/* 悬停状态 (hover:bg-[#34495e]) */
.contextMenu button:hover {
    background-color: #34495e;
}